{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ form.media }}
    <script src="{% static 'js/rich_text_editor.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog_create.css' %}">
{% endblock %}

{% block site_content %}
<div class="blog-create-main">
    <div class="main-header-create">
        <h2 class="main-header__heading">Create a New Post</h2>
        <form method="post" enctype="multipart/form-data">  <!-- Added enctype for file uploads -->
            {% csrf_token %}
            {{ form.title.label }} {{ form.title }}  <!-- Title Field -->
            {{ form.status.label }} {{ form.status }}  <!-- Status Field -->

            <div class="form-group">
                {{ form.image.label }} {{ form.image }}  <!-- Image Upload Field -->
            </div>

            {% include 'includes/rich_text_editor.html' %}
            <button class="sub-btn" type="submit"><img
                src="{% static 'img/check.svg' %}"
                alt="check-svg"
                id="check-svg"
              />Done</button>
        </form>
        {% if form.errors %}
            <div class="error-message">
                <p>There were errors in the form. Please correct them.</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
