{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="keywords" content="linguist blog, linguistics, learning, motivation">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Pacifico&family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">
{% endblock %}


{% block site_content %}
<div class="hero-section">
  <h1 class="blog-page-title">Blog Posts</h1>
</div>
<div class="blog-container">
  <section class="cards-wrapper">
    {% for post in posts %}
    <div class="blog_post">
      <div>
        <img class="blog-img" src="{{ post.image.url }}" alt="blog-image">
      </div>
      <div class="container_copy">
        <h3 class="blog-h3">{{ post.created_on }}</h3>
        <h1 class="blog-h1">{{ post.title }}</h1>
        <p class="blog-p">{{ post.content|slice:":30"|safe }}</p>
        <a class="button-link" href="{% url 'blog_app:post_detail' post.slug  %}" target="_blank">Read More</a>
        <div class="blog-likes">
          <span> Likes {{ post.likes }}</span> 
          <i class="fa fa-heart" ></i>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
 </div>
  

{% endblock %}
