{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ form.media }}
    <script src="{% static 'js/rich_text_editor.js' %}"></script>  <!-- Include your JS file -->
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/blog_create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/rich_text_editor.css' %}">
{% endblock %}

{% block site_content %}
<div class="blog-create-main">
    <div class="main-header-edit">
        <div class="main-header__heading">Edit Post</div>
        <form method="post">
            {% csrf_token %}
            {{ form.title.label }} {{ form.title }}  <!-- Title Field -->
            {{ form.status.label }} {{ form.status }}  <!-- Status Field -->
            
            {% include 'includes/rich_text_editor.html' %}

            <button class="sub-btn" type="submit"><img
                src="{% static 'img/check.svg' %}"
                alt="check-svg"
                id="check-svg"
              />Done</button>
        </form>
        {% if form.errors %}
            <div class="error-message">
                <p>There were errors in the form. Please correct them.</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
