{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="keywords" content="Language Games">
    {% block script %}
    {% endblock %}
{% endblock %}

{% block title %}Games{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/games_main_page.css' %}">
{% endblock %}


{% block site_content %}
<h1>Let the fun begin! <br> It's time to play some games!</h1>
<div class="games_list">
    <div class="game-item">
        <img src="{% static 'img/crossword.png' %}"
             alt="crossword-img"
             id="crossword-image"
             class="game-img"
        >
        <a href="{% url 'games:crossword' %}">Crossword</a>
    </div>
    <div class="game-item">
        <img src="{% static 'img/chess.png' %}"
             alt="chess-img"
             id="chess-image"
             class="game-img"
        >
        <a href="{% url 'games:chess' %}">Chess</a>
    </div>
        <div class="game-item">
        <img src="{% static 'img/charnew.png' %}"
            alt="hanzi-img"
            id="hanzi-image"
            class="game-img"
       >
        <a href="{% url 'games:hanzi' %}">Hanzi</a>
    </div>
</div>
{% endblock %}