
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .hero-section {
        height: 30vh;
    }
    .cloud-text {
        font-size: 3rem;
    }

    .why-us-block {
        height: auto;
    }

    .why-us-text {
        font-size: 10px;
    }

    .h2-title-4 {
        font-size: 2em;
    }
    /*************** products   ********************/
    #product-img-coding, #product-img-esl, #product-img-chinese {
        width: 15rem;
        height: 15rem;
        /* top: 10%; */
    }
    #product-img-coding {
        margin-right: 2em;
    }

    .product-block-esl {
        left: 0%;
    }

    #product-img-esl {
        padding-right: 0em;
        padding-left: 1em;
    }

    .product-info-esl {
        padding-left: 1em;
    }
    /*************** placements ********************/

    .h2-title-5 {
        font-size: 1rem;
    }

    .card {
        max-width: 20em;  
        max-height: 20em;
        margin: 1em;
        margin-top: 5em;
        overflow: hidden; 
    }

    .card-image {
        width: 100%;       
        height: 5em;      
        object-fit: cover; 
    }

    .card-content {
        padding: 5px;
    }

    .card-title {
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .card-text {
        line-height: 1;
        margin-bottom: 20px;
        font-size: 1em;
    }

    .button-why {
        height: 3em;
        width: 10em;
        border: 0.2rem solid;
    }

    /***** NAVBAR *************/
    .dropdown-content {
        top: 6%;
    }
    /************** INQUIRY *******************/
    .inquiry-h1 {
        font-size: 2.5em;
    }
    
    .inquiry-h4 {
        font-size: 1.4em;
        top: 10%;
    }
    
    .input-container {
        max-width: 60vh;
        min-width: 36vh;
        width: 40%;
        margin-top: 14vh;
    }    
}