@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
  background-color: #0174be;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the items */
  width: 100%;
  height: 60px;
  position: relative;
}

.navbar-brand img {
  height: 55px;
  position: relative;
  bottom: 10px;
}

.support {
  height: 55px;
  height: auto;
}

.navbar-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  padding-bottom: 1em; 
}

.nav-item {
  margin-right: 20px; 
}

.nav-link, .nav-link-acc {
  text-decoration: none;
  position: relative;
  color: white;
  font-weight: bold;
  /* font-size: 1.2rem; */
  font-family: 'Poppins', sans-serif;
}

.nav-link-acc {
  top: 15%;
}

.nav-link:hover {
  color: #f3b226;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #f3b226;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


.dropdown-content {
  display: none;
  position: absolute; /* Use absolute instead of fixed */
  background-color: #0174be;
  border: 3px solid black;
  min-width: 60px;
  max-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0; 
  top: 100%; 
  transition: opacity 1s;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .navbar {
    width: 100%; 
    height: 2.5rem;
    background-color: #0174be;
    align-items: center; 
  }

  .navbar-brand img {
    height: 35px;
    bottom: 12px;
  }

  .nav-item {
    margin-right: 2vw;
    padding-bottom: 2em; 
  }

  .nav-link, .nav-link-acc {
    font-size: 0.4rem; 
  }

  .nav-link-acc {
    top: 0%;
  }

  .navbar-nav {
    /* padding-right: 20px; */
    padding-bottom: 0.1em; 
  }
  

  .dropdown-content {
    padding: 6px 10px;
    min-width: 40px;
    max-width: 60px;
    top: 4%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1550px) {
  .navbar {
    padding-right: 0vw; /* Adjust for medium-sized screens */
  }

  .dropdown-content {
    top: 6%;
  }

  .nav-item {
    margin-right: 2vw;
  }

  .nav-link, .nav-link-acc {
    font-size: 0.8rem; 
  }
}
