
.alphabet_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .char_info {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
} */

.char_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1px;
    width: 60%;
    border: 3px solid #000;
    border-radius: 10px;
    margin: 30px 0 30px 0;
}


.letter_box, .word_box, .class_box {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.letter, .word, .class {
    font-size: 3rem;
}

.word, .letter {
    font-family: 'Noto Serif Thai', serif;
}

.chars_grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1px;
    width: 60%;
    margin-bottom: 30px;
}

.chard_grid_char {
    display: flex;
    font-family: 'Noto Serif Thai', serif;
    font-size: 2em;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chard_grid_char:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px hsl(187 75% 64%);
}