
@media screen and (min-width: 601px) and (max-width: 1000px) {
    .hero-section {
        height: 20vh;
    }
    .cloud-text {
        font-size: 2.5rem;
    }

    .why-us-block {
        height: auto;
    }

    .why-us-text {
        font-size: 10px;
    }

    .h2-title-4 {
        font-size: 2em;
    }

    /*************** placements ********************/

    .h2-title-5 {
        font-size: 1.5rem;
    }

    .card {
        max-width: 20em;  /* Adjust card size for medium screens */
        max-height: 20em;
        margin: 1em;
        margin-top: 5em;
        overflow: hidden; /* Ensures no child element overflows */
    }

    .card-image {
        width: 100%;       /* Scale the image to the full card width */
        height: 100%;      /* Scale the image to the full card height */
        object-fit: cover; /* Ensures the image covers the container without distortion */
    }

    .card-content {
        padding: 5px;
    }

    .card-title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .card-text {
        line-height: 1;
        margin-bottom: 20px;
        font-size: 1em;
    }
    .card-button {
        padding: 8px 16px 10px 10px;
        height: 20px;
        width: 75px;
        border-width: 0.3rem;
        font-size: 0.5em;
        line-height: 2px;
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        white-space: nowrap;
    }
    /***** NAVBAR *************/
    .dropdown-content {
        top: 6%;
    }
    /************** INQUIRY *******************/
    .inquiry-h1 {
        font-size: 2.5em;
    }
    
    .inquiry-h4 {
        font-size: 1.4em;
        top: 10%;
    }
    
    .input-container {
        max-width: 60vh;
        min-width: 36vh;
        width: 40%;
        margin-top: 14vh;
    }    
}