

:root {
    --c: gainsboro;
    --d: 1em;
    --l: 1px;
    --o: calc(0.5 * var(--l));
}


.hanzi-game-container {

    position: relative; 
    width: 100%; 
    height: auto; 
    overflow: hidden; 

    background:
        conic-gradient(from 90deg at var(--l) var(--l),
            transparent 25%, var(--c) 0%) calc(-1 * var(--o)) calc(-1 * var(--o)) / var(--d) var(--d),
        linear-gradient(45deg,
            transparent calc(50% + calc(-1 * var(--o))),
            var(--c) 0 calc(50% + var(--o)), transparent 0) 0 0 / calc(2 * var(--d)) calc(2 * var(--d)),
        linear-gradient(-45deg,
            transparent calc(50% + calc(-1 * var(--o))),
            var(--c) 0 calc(50% + var(--o)), transparent 0) 0 0 / calc(2 * var(--d)) calc(2 * var(--d));
}
  

.hanzi-main-container {
    width: 100%;
    height: 34em;
    display: flex;
    background-color: #f0f0f0;
    border: 20px solid;
    border-image: url('../img/chinese-knot3.svg') 25% repeat; /* Use stretch to avoid slicing */
}


.hanzi-menu,
.hanzi-char-text {
    display: none;
}


.level-selected .hanzi-menu,
.level-selected .hanzi-char-text {
    display: flex; 
}


.level-selection {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem; 
}

.level-selection-top {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    gap: 0.5rem; 
}

.l-opt-img {
    height: 10em;
}


.hidden {
    display: none;
}


.level-cards {
    display: flex;
    gap: 1.5rem; 
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 1rem;
}

.level-card {
    display: block;
    border: 2px solid #CE2927;
    border-radius: 10px;
    padding: 0.3rem;
    width: 15em;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}

.level-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.l-card-img {
    max-width: 30%;
    height: auto;
    margin: 0.5rem 0;
}

.level-card h3 {
    margin: 0.5rem 0;
    color: #CE2927;
}

.level-card p {
    font-size: 0.9rem;
    color: #333;
    line-height: 1.4;
}

/* Style for hanzi-menu */
.hanzi-menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    border: 3px solid #CE2927;
    max-width: 15em;
    min-width: 10em;
    height: auto;
    background-color: aliceblue;
    margin-top: 20px;
}


.hanzi-menu-btn {
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    white-space: nowrap;

    padding: 0.2rem 0.4rem;

    min-width: 6em; 
    max-width: 10em; 
    min-height: 2em; 
    max-height: 6em;

    color: black;
    text-decoration: none;
    background: #FB3635;
    border-radius: 0.6rem;
    font-weight: 600;
    font-size: 0.9rem;
    border: 0.2rem solid;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.hanzi-menu-btn:hover {
    background-color: #FDD821; 
}

/* tone buttons */
.tone-buttons {
    display: flex;
    gap: 10px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.tone-btn {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FDD821;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tone-btn:hover {
    background-color: #FB3635;
    transform: scale(1.1);
}

.tone-btn:focus {
    background-color: #FB3635;
}

/* tone buttons END */

.hanzi_download {
    margin-top: 20px;
}

.feedback {
    position: absolute; 
    top: 5%;
    left: 30%;
    color: rgb(0, 0, 0); 
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem; 
    font-style:italic;
}

.hanzi-char-text {
    font-family: 'Noto Sans SC', sans-serif;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    color: rgb(0, 0, 0); 
    font-size: 2rem; 
    font-weight: bold;
    text-align: center; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.menu-decor-img {
    width: 10em;
    height: auto;
}


@media screen and (max-width: 600px) {

    .hanzi-menu-btn {
        font-size: 0.875rem;
        padding: 0.4rem 0.8rem;
    }

    .hanzi-menu h3 {
        font-size: 0.75em;
    }

    .btn-primary {
        font-size: 0.5em;
    }
}


/* @media screen and (min-width: 1368px) and (max-width: 1440px) {
    .hanzi-menu-btn {
        font-size: 0.875rem;
        padding: 0.4rem 0.8rem;
    }
} */
