{% load static %}


<div class="footer-contacts">
    <h5 class="contact-us-h">Contact Us</h5>
    <ul class="footer-list">
        <li>
            <p>lighthouse.tutors.mail@gmail.com</p>
        </li>
        <li>
            <p>kurpasnikita@gmail.com</p>
        </li>
        <li>
            <p>tkurpas@gmail.com</p>
        </li>
    </ul>
</div>
<div>
    <img class="footer-logo" src="{% static 'img/logo-transparent.png' %}">
    <h5 class="copyright">Copyright © 2024 Nikita Kurpas</h5>
</div>
<div class="footer-links">
    <a href="/" class="footer-link">Home</a>
    <a href="/courses" class="footer-link">Courses</a>
    <a href="/blog" class="footer-link">Blog</a>
    <a href="/about" class="footer-link">About</a>
    <a href="/privacy" class="footer-link">Privacy Policy</a>
</div>
