
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/snow.css' %}">
{% endblock %}

<div class="snow-wrapper">
    <h2 class="keys-adv-title">Our Advantages</h2>
    <div class="inner-header flex">
        <div class="key-icons-block">

            <div class="icon-adv">
                <img src="{% static 'img/1.svg' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text" >Focus on practicality from the start.</p>
            </div>

            <div class="icon-adv">
                <img src="{% static 'img/2.svg' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text" >Most contemporary methods.</p>
            </div>

            <div class="icon-adv">
                <img src="{% static 'img/present.png' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text" >Free trial class.</p>
            </div>

            <div class="icon-adv">
                <img src="{% static 'img/4.svg' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text" >Dedication to learning.</p>
            </div>

            <div class="icon-adv">
                <img src="{% static 'img/5.svg' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text" >Certificates of completition.</p>
            </div>

            <div class="icon-adv">
                <img src="{% static 'img/star.png' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text" >English, Chinese and Programming courses.</p>
            </div>

            <div class="icon-adv">
                <img id="clock" src="{% static 'img/3.png' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text" >Flexible time schedule.</p>
            </div>

            <div class="icon-adv">
                <img src="{% static 'img/group.png' %}" alt="Reading Image" class="adv-image">
                <p class="icon-text">Various programs for various learners.</p>
            </div>
        </div>
    </div>
</div>
  