{% load static %}

<footer>
  <div class="footer-contacts">
    <h5 class="contact-us-h">Contact Us</h5>
    <ul class="footer-list">
      <li>
        <p>lighthouse.tutors.inquiry@gmail.com</p>
      </li>
    </ul>
  </div>
  <div class="footer-center">
    <img class="footer-logo" src="{% static 'img/logo-transparent.png' %}" alt="Logo">
    <h5 class="copyright">Copyright © 2025 Nikita Kurpas</h5>
  </div>
  <div class="footer-links">
    <a href="{% url 'index' %}" class="footer-link">Home</a>
    <a href="{% url 'courses_app:courses' %}" class="footer-link">Courses</a>
    <a href="{% url 'courses_app:python' %}" class="footer-link">Python</a>
    <a href="{% url 'blog_app:blog' %}" class="footer-link">Blog</a>
    <a href="{% url 'quiz_app:quiz' %}" class="footer-link">Quiz</a>
    <a href="{% url 'games:games' %}" class="footer-link">Games</a>
    <a href="{% url 'about' %}" class="footer-link">About</a>
    <a href="{% url 'privacy' %}" class="footer-link">Privacy Policy</a>
  </div>
</footer>
