@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

.hero-section {
  width: 100%;
  height: 20vw;
  min-height: 300px; /* Set a minimum height */
  max-height: 600px;
  background: repeating-linear-gradient(180deg, #f0f0f0, #f0f0f0 0.1em, #ffffff 0.1em, #ffffff 0.0.5em);
  display: flex; 
  align-items: center;
}

.blog-page-title {
	font-family: 'Pacifico';
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(../img/clouds.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
    margin-left: 10%;
	font-size: 10vw;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
    padding-bottom: 2rem;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

.blog-container {
  width: 98.5vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}


.blog_post {
  background: #fff7cb;
  max-height: 22vw;
  max-width: 18.3vw;
  border-radius: 10px;
  border-style: solid 3px black;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.container_copy {
  padding: 2vw 1vw 2vw 1.5vw;
}

h3 {
  margin: 0 0 0.5vw 0;
  color: #999;
  font-size: 1vw;
}

h1 {
  margin: 0 0 1vw 0;
  font-size: 1.7vw;
  letter-spacing: 0.25px;
  color: #333;
}

p {
  margin: 0 0 1vw 0;
  font-size: 1vw;
  line-height: 1;
  color: #333;
}
/**************************** BUTTONS ****************************/
.button-link {
  display: flex;
  color: black;
  padding: 0.5vw 1vw;
  text-decoration: none;
  background: hsl(187 75% 64%);
  border-radius: 0.6rem;
  font-weight: 700;
  font-size: 1.2vw;
  border: 0.35vw solid;
  height: 4vw;
  width: 11vw;
  position: relative;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-link:hover {
  background-color: hsl(211, 94%, 31%);
  color: black;  
}


@media screen and (max-width: 800px) {
  .hero-section {
    height: 10vh;
    min-height: 200px;
  }
}


/*
@media (max-width: 768px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}
*/
