.classroom-container {
  position: relative;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.classroom-img {
  display: block;
}

.account-greetings {
  position: absolute;
  font-family: 'Coiny', cursive;
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
  background-color: #ffc436;
  top: 5px;
  left: 5px;
}

.account-avatar {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 70px;
  left: 5px;
}

.main-menu {
  position: relative;
}

.menu-box-item {
  position: absolute;
  bottom: 10px;
  left: 20%;
  width: 900px;
  height: 710px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffc436;
  /* background-color: rgba(255, 196, 54, 0.8); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/******************************* QUIZ ******************************/
.quiz-menu-block {
  display: grid;
  grid-template-columns:repeat(3,minmax(290px,300px));
  list-style: none;
  margin: 0;
  padding: 0;
  left: -2%;
  position: relative;
}

.quiz-card {
  display: flex;
  padding: 1rem;
  height: 220px;
  width: 290px;
}

.quiz-card {
  filter:drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.quiz-card-item {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
  transition: transform 0.3s ease;
}

.quiz-card-item:hover {
  transform: scale(1.1);
}

.quiz-card-content {
  padding: 1.2rem;
  position: relative;
  top: -10%;
}

.quiz-card-content-title, .quiz-card-content-p {
  margin: 1.2rem 0;
}
.quiz-card-content-title {
    font-size: 1.3em;
}

.quiz-name {
  position: relative;
  left: 7%;
}
/******************************* BLOG ******************************/

.block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.blog-title, .quiz-title, .schedule-title, .chat-title {
  font-family: 'Coiny', cursive;
  font-size: 1.5em;
  font-weight: 600;
  color: #333;
}

.block-top-a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #1a64e5;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.blog-menu-posts, #chat-menu-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.post-card .chat-card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}


.post-main-info-h4, .chat-card-info-h4 {
  margin-bottom: 10px;
  color: #333;
}

.post-main-info-p, .quiz-main-info-p {
  color: #000000;
  font-weight: 600;
  margin-bottom: 5px;
}

.chat-init-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  padding: 8px 15px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
}

.quiz-features-a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  background-color: #0174BE;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
}

.quiz-features-a {
  position: relative;
}

.post-features-a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  padding: 4px 8px;
  background-color: #1a64e5;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

.chat-init-btn:hover,
.block-top-a:hover,
.post-features-a:hover,
.quiz-features-a:hover {
  color: #ffc436;
  background-color: #080e18;
}

.chat-card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

/************************** sticky note *******************************/

#note-ul, .note-li{
  list-style:none;
}

#note-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 17%;
  width: 930px;
  left: -3.5%;
}

.note-li{
  margin:1em;
}

.note-a {
  text-decoration:none;
  color:#000;
  display:block;
  height:12em;
  width:12em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
  transform: rotate(-6deg);
  background:#cfc
}

.note-h2 {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 2px solid #333;
}

.note-p {
  font-size: 1rem;
  font-weight: normal;
}

.note-a:hover, .note-a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}


#note-ul .note-li:nth-child(even) .note-a{
  transform:rotate(4deg);
  position:relative;
  top:5px;
  background:rgb(247, 255, 94);
}

#note-ul .note-li:nth-child(even) .note-a:hover, #note-ul .note-li:nth-child(even) .note-a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

#note-ul .note-li:nth-child(3n) .note-a{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:rgb(211, 182, 157);
}

#note-ul .note-li:nth-child(3n) .note-a:hover, #note-ul .note-li:nth-child(3n) .note-a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

#note-ul .note-li:nth-child(5n) .note-a{
  transform:rotate(5deg);
  position:relative;
  top:-10px;
  background:rgb(108, 234, 123);
}

#note-ul .note-li:nth-child(5n) .note-a:hover, #note-ul .note-li:nth-child(5n) .note-a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

.post-note-btn {
  position: relative;
  top: 15%;
}
/******************************* SCHEDULE ******************************/
#schedule-container {
  width: 900px;
  height: 710px;
  left: 20%;
  bottom: 10px;
}

.help-text {
  font-family: 'Coiny', cursive;
  font-size: 1em;
  font-weight: 500;
}

.lesson-button {
  background-color: #fffb00;
  border-radius: 30%;
  border-color: #333;
  position: relative;
} 

/******************************* CHAT MENU *****************************/


:root {
	--yellow: #0174BE;
	--dark: #ffffff;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
}

.chat-container {
	padding: 2em 0 2em 2.5em;
	margin: 0;
  display: grid;
  grid-template-columns:repeat(2,minmax(290px,300px));
  list-style: none;
  margin: 0;
  padding: 0;
  left: 32%;
  position: relative;
}

.chat-item {
  height: 100px;
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
}

.chat-item:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(
		-83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

.thumb {
	width: 13vmin;
	height: 13vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--dark) 0 70%,
		var(--yellow) 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.chat-item:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb-img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--dark);
}

.chat-item:hover {
	transform: scale(1);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
}

.chat-item:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.chat-item:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.chat-item:hover .thumb-img {
	filter: none;
	transition: var(--trans);
}

.chat-item-h3 {
	background: linear-gradient(182deg, #fff0 60%, var(--dark) 0 100%);
	display: inline;
	transform: rotate(-2deg);
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.5em 0.75em;
	color: #000;
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}

.chat-item:nth-of-type(even) .chat-item-h3 {
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
	background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
}

.chat-item:hover .chat-item-h3 {
	transition: var(--trans);
	transform: rotate(0deg);
	background: linear-gradient(180deg, #fff0 59%, var(--dark) 0 100%);
}

/* @media screen and (max-width: 600px) {
  .classroom-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
} */

/* @media screen and (min-width: 601px) and (max-width: 900px) {
  .log-form, .reg-form {
      width: 60%;
  }
} */