.ip-to-bin-image {
    width: 60%;
    height: auto;
}

.code-explanation {
    font-size: 1em;
}

h5, .ip-to-bin-image, p {
    padding: 2em;
}

h2 {
    padding: 1em;
}

@media screen and (min-width: 310px) and (max-width: 1000px) {
    .ip-to-bin-image {
        width: 100%;
    }

}
