{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta name="keywords" content="Python exercises, beginner Python programming, coding challenges, 
    Python practice, learn Python, Lighthouse-Tutors Python, Python coding exercises">
{% endblock %}

{% block title %}Python Exercises: Practice Coding for Beginners{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/python.css' %}">
{% endblock %}

{% block header %}
{% include 'includes/inc_header.html' %}
{% endblock %}


{% block site_content %}

<div class="py_container">
    <div class="py_header">
        <h3>Lighthouse Python</h3>
        <P>Here I've come up with some Python code that can be suitable for beginners and intermediate level
            Pythonistas.<br>
        </P>
    </div>
    <div class="py_item_list">
        <div class="py_item">
            <h5>
                Networks: IPv4 address Validator
            </h5>
            <p>
                A function that takes string as input and validates if it's an IP address.
            </p>
            <a href="{% url 'courses_app:python_one' %}">Try it out</a>
        </div>
    </div>
    <div class="py_item_list">
        <div class="py_item">
            <h5>
                Cryptography: Encrypt / Decrypt (Cipher)
            </h5>
            <p>
                A function that will accept perform user implemented encryption and decryption<br>
                 operations on a text data.<br>
            </p>
            <a href="{% url 'courses_app:python_two' %}">Try it out</a>
        </div>
    </div>
    <div class="py_item_list">
        <div class="py_item">
            <h5>
                OOP: Bank Account Class
            </h5>
            <p>
                A custom bank account class designed to securely store balances, support transfers, and allow <br>
                deposits and withdrawals.
            </p>
            <a href="{% url 'courses_app:python_bankacc' %}">Try it out</a>
        </div>
    </div>
    <div class="py_item_list">
        <div class="py_item">
            <h5>
                Data Structures / OOP: Custom List Class
            </h5>
            <p>
                Do reinvent the wheel to get a look under the hood of Python's lists.<br>
            </p>
            <a href="{% url 'courses_app:python_data_structure_list' %}">Try it out</a>
        </div>
    </div>
    <div class="py_item_list">
        <div class="py_item">
            <h5>
                Data Structures / OOP: Custom Dictionary Class
            </h5>
            <p>
                Same as with lists but a different builtin data type of Python - dictionary.<br>
            </p>
            <a href="{% url 'courses_app:python_data_structure_dict' %}">Try it out</a>
        </div>
    </div>
    <div class="py_item_list">
        <div class="py_item">
            <h5>
                Algorithms / Math: Gear Axis Alignment Verifier Function
            </h5>
            <p>
                A function that checks that given list of axis are aligned.<br>
            </p>
            <a href="{% url 'courses_app:python_algo_axis' %}">Try it out</a>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'includes/inc_footer.html' %}
{% endblock %}
