{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="keywords" content="online courses, online education, online learning,
      English reading, English speaking, English writing, English listening">
{% endblock %}

{% block title %}Courses{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/courses.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
{% endblock %}


{% block site_content %}
<div class="courses">
    <div class="course">
      <img src="{% static 'img/intro_python.png' %}" alt="Reading-Image-Growsups" class="course-image" loading="lazy">
      <div class="course-block" id="intro_python">
        <h1 class="course-title">Introduction to Programming with Python</h1> 
        <p class="course-description"> Starting your programming journey can feel daunting, especially if 
          you’ve tried learning before and struggled to make sense of it. At Lighthouse-Tutors, we believe
          coding doesn’t have to be overwhelming. This course is designed to introduce Python in a way that’s
          practical, beginner-friendly, and tailored to your unique learning style. </p> 
        <p class="course-description"> We believe programming is for everyone, and making mistakes is just 
          part of the process. With clear guidance and real-world examples, you’ll learn Python step by step. 
          Whether you’re exploring programming for fun, preparing for future career opportunities, or looking 
          to solve everyday problems with code, this course will give you the confidence to get started. </p> 
        <p class="course-description"> Each lesson begins with small exercises to get you thinking like a
           programmer and build problem-solving skills. We then introduce new concepts through hands-on 
           practice and examples you can relate to. By the end of the course, you’ll not only understand the 
           basics of Python but also feel ready to take on your own projects and explore the exciting world of
           programming. </p>
      </div>
    </div>
    <div class="course">
      <img src="{% static 'img/esl.png' %}" alt="Reading-Image-Growsups" class="course-image" loading="lazy">
      <div class="course-block" id="esl">
        <h1 class="course-title">English as a Second Language</h1> 
        <p class="course-description"> 
          Perhaps your past experiences with learning English didn’t feel effective or enjoyable. Whether you
          struggled to connect with traditional methods or simply felt stuck, it’s never too late to approach
          English in a way that works for you. At Lighthouse-Tutors, we understand that every learner’s path
          is unique, and we’re here to support you every step of the way. </p> 
        <p class="course-description"> We believe that an accent is a mark of bravery and 
          individuality—something to embrace, not hide. At the same time, clear pronunciation and
          phonetics are skills anyone can learn with the right guidance. Whether your goal is to feel
          confident traveling, preparing for a career opportunity, or communicating professionally,
          we’ve got you covered. Through dynamic and interactive speaking sessions, you’ll build
          confidence to express yourself in English for work, travel, or everyday conversations. 
        </p> 
        <p class="course-description"> Each lesson begins with warm-up activities to get your mind engaged'
          and ready for learning. From there, we introduce new topics and focus on building a solid
          understanding of vocabulary, grammar, and cultural nuances. By exploring these elements in 
          depth, we help you connect the dots and use English with confidence in real-life situations. 
        </p>
      </div>
    </div>
    <div class="course">
      <img src="{% static 'img/chinese2.png' %}" alt="Reading-Image-Chinese" class="course-image" loading="lazy">
      <div class="course-block" id="chinese">
        <h1 class="course-title">Chinese courses for newbies.</h1>
        <p class="course-description">
          This is an elementary course designed for anyone curious about the mysterious language of Chinese Mandarin. The course begins with PinYin, focusing on romanized pronunciation practice, tones, and intonation. As we progress, we delve into the basics of Chinese writing, word composition, phrases, and proverbs.  
        </p>
        <p class="course-description">
          Making your first steps into speaking Chinese is surprisingly simple. Each syllable is like a word in its own right. There are no tenses like in English, no inflectional endings. For anyone curious about linguistics in general, basic Chinese can be very useful. Whether you want to impress your friends or just have fun speaking, fundamental Chinese will be an interesting endeavor.
        </p>
        <p class="course-description">
          As you progress, there will be nothing more satisfactory than seeing a character that you recognize and proudly exclaiming, 'Oh, I know that one!'. Of course, no class can substitute a language environment where you hear the target language every day, but it doesn't mean that a well-structured approach will not give you the basics. Practicing inside and outside the class is key. Joining calligraphy classes and simply remembering and recycling the information you learn in class can provide a solid foundation.
        </p>
      </div>
    </div>
</div>
<div>
  <div class="our-approach-block">
    <h3 class="our-approach-heading">
      Our methods and approach.
    </h3>
  </div>
  <div class="key-point">
    <div class="key-content-philo">
        <div class="philo">
            <h3 class="key-title">Philosophy</h3>
            <img src="{% static 'img/philo.png' %}" alt="philo-img" id="philo-img" loading="lazy">
        </div>
        <p class="key-text" id="paragraph-one">
            <strong>Student-Centered Learning:</strong> 
            We prioritize the unique needs and learning styles of individual students. By tailoring our teaching methods to accommodate diverse learning preferences, I aim to create an environment where every student can thrive.
        </p>
        <p class="key-text">  
            <strong>Practical Application:</strong> 
            We emphasize the real-world application of concepts to make learning meaningful. Through hands-on activities, case studies, and practical exercises, we encourage students to bridge theory with practice, equipping them for success beyond the classroom.
        </p>
        <p class="key-text">   
            <strong>Critical Thinking and Problem-Solving:</strong> 
            We cultivate critical thinking skills by encouraging students to analyze, question, and evaluate information. We believe in nurturing independent thought and empowering students to approach challenges with confidence and creativity.
        </p>
        <p class="key-text"> 
            <strong>Open Communication:</strong> 
            Open and transparent communication is fundamental to a positive learning experience. We create a supportive space where students feel comfortable expressing their ideas, asking questions, and engaging in constructive dialogue.
        </p>
        <p class="key-text"> 
            <strong>Learning:</strong> 
            Education is a lifelong journey, and we strive to instill a passion for continuous learning in our students. By fostering curiosity and a growth mindset, we aim to inspire a love for learning that extends beyond the confines of the classroom.
        </p>
        <p class="key-text"> 
            <strong>Respect and Inclusivity:</strong>
            We value diversity and strive to create an inclusive environment where every student feels respected and heard. By incorporating diverse perspectives into the curriculum, we aim to enrich the learning experience and prepare students for a globalized world.
        </p>
    </div>
  </div>

  <div class="key-point">
    <div class="key-content-exp">
        <div class="exp">
            <h3 class="key-title">Experience</h3>
            <img src="{% static 'img/exp.png' %}" alt="exp-img" id="exp-img" loading="lazy">
        </div>
        <p class="key-text" id="ex-p-one">
            We take pride in the rich tapestry of experiences that both our teachers and students bring to the learning environment. Hailing from diverse backgrounds, our community fosters an atmosphere of inclusion and collaboration. Our commitment to facilitating productive interactions between tutors and students has been a cornerstone of our success. Every class is not like the other and can bring a range of practical experiences and knowledge that can be used in real-life practices. We don't just pass on the information but rather ensure that our students have a thorough understanding on emotional level that will last for ages and not disapear after a few weeks of summer holidays. 
        </p>
        <p class="key-text" style="margin-top: 10px;">
            With a robust track record spanning over 5 years in international online tutoring, we bring a wealth of experience to the table. This extensive history underscores our dedication to delivering high-quality educational services and support. Throughout the years, we have refined our approach, adapting to the evolving landscape of online education. This wealth of experience positions us as a trusted institution where both tutors and students can thrive. 
        </p>
    </div>
  </div>

  <div class="key-point">
    <div class="key-content-dedi">
        <div class="dedi">
            <h3 class="key-title">Dedication</h3>
            <img src="{% static 'img/anchor2.png' %}" alt="dedi-img" id="dedi-img" loading="lazy">
        </div>
        <p class="key-text" id="dedi-p-one">
            At the heart of our educational philosophy lies an unwavering dedication to the success and well-being of our students. We understand that true learning extends beyond textbooks and classrooms; it involves cultivating an environment where curiosity flourishes, and students feel empowered to reach their full potential. Our commitment to dedication goes beyond mere words; it is embedded in the fabric of our classes. Our educators are not just instructors; they are mentors and guides invested in the educational journey of each student. We foster a culture where every question is valued, every challenge is an opportunity, and every success is a collective achievement.
        </p>
    </div>
  </div>

  <div class="key-point" id="bottom-key">
    <div class="key-content-skill">
        <div class="skills">
            <h3 class="key-title">Skills</h3>
            <img src="{% static 'img/skills.png' %}" alt="skills-img" id="skills-img" loading="lazy">
        </div>
        <p class="key-text" id="skills-p-one">
            In the ever-evolving landscape of education, the significance of skills cannot be overstated. We recognize the pivotal role that skills play in shaping a successful academic journey and, ultimately, a fulfilling career. Our commitment to equipping students with relevant and practical skills sets us apart as an on-line school dedicated to holistic development.
    
            Our program is meticulously designed to impart not only theoretical knowledge but also practical, industry-relevant skills. From critical thinking to problem-solving, communication to collaboration, we prioritize the acquisition of skills that transcend the boundaries of traditional education. Our educators, chosen for their expertise, are adept at nurturing these skills, ensuring that students graduate not just with a certificate but with a robust toolkit for real-world success.
        </p>
    </div>
  </div>
</div>

{% endblock %}
