{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="keywords" content="language services, English/Russian translations,
    English/Russian interpreting, teaching, on-line tutoring">
    {% block script %}
        <script src="{% static 'js/enlarge-img.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block title %}About{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/about.css' %}">
{% endblock %}


{% block site_content %}
<div class="key-point-block">
    <div class="key-point">
        <div class="key-projects">
            <h3 class="key-title">About this project</h3>
            <!-- <h3>My other projects are <a href="/about/projects">here</a></h3> -->
        </div>
        <div class="key-content">
            <div class="image-container">
                <img src="{% static 'img/mypic.jpg' %}" alt="Project Image" class="key-image">
                <p class="image-caption">Here's my face :-)</p>
                <a href="{% url 'resume' %}">My resume</a>
            </div>
            <p class="key-text">
                Hi! I'm Nikita, the creator of this website. Originally intended as a purely portfolio site, 
                it evolved into an intriguing journey, leading me to transform it into a fully functional 
                web platform for students and tutors. Initially, I planned for a blog and quiz website, 
                but as development progressed, I expanded it to include a registration and login system,
                a calendar app, JavaScript crossword puzzle generator and chess.
            </p>
            <p class="key-text">
                The platform now has a comprehensive dashboard with basic functionalities like adding, 
                editing, and removing blogs and quizzes. Additionally, I introduced a scheduling feature, 
                allowing teachers to add classes, along with a simple chat application for  
                communication between tutors and students. Ultimately, the platform is designed to facilitate
                class management, keeping tabs on the number of classes, and more. 
            </p>
        </div>
    </div>
</div>
<div class="features-heading-block">
    <h3 class="features-heading">Features</h3>
</div>
<div class="project-pre">
    <div class="pre-item-block">
        <img src="{% static 'img/blog.png' %}" alt="Blog Image" id="blog-img" class="pre-img">
        <p>Blogging. Users who are tutors can create, edit and delete their blog posts. Blog post creatiion is
            done on a rich text editor. Users can create a draft and finish it up later before final 
            posting.
        </p>
    </div>
    <div class="pre-item-block">
        <img src="{% static 'img/quiz.png' %}" alt="Quiz Image" id="quiz-img" class="pre-img">
        <p>Quizzes. A tutor can create quizzes. Created quizzes can be edited by their authors, questions can
            be added, edited or deleted. Students are later assigned a quiz of quiz can go and be open for everyone.
        </p>
    </div>
    <div class="pre-item-block">
        <img src="{% static 'img/chat.png' %}" alt="Chat Image" id="chat-img" class="pre-img">
        <p>Chat. Chat with other tutors and students. Chat was implemented using Django signals. Tutors and studdents
            can chat and appoint their next class.
        </p>
    </div>
    <div class="pre-item-block">
        <img src="{% static 'img/calendar.png' %}" alt="Calendar Image" id="calendar-img" class="pre-img">
        <p>Calendar. Students can see their sheduled classes in their calendar. Tutors can create, update, delete a 
            class in/from the calendar.
        </p>
    </div>
        <div class="pre-item-block">
        <img src="{% static 'img/chess_demo.png' %}" alt="Chess Image" id="chess-img" class="pre-img">
        <p>
            A chess game with a moderately intelligent AI player and a few other games.
        </p>
    </div>
</div>
{% endblock %}