{% extends 'base.html' %}
{% load static %}


{% block head %}
    <meta name="keywords" content="online-tutoring, introduction to programming, coding, javascript,
    algorithms, math, maths, chinese lessons, esl tutoring">
{% endblock %}

{% block title %}Lighthouse-Tutors Home{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/media-queries/small.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/media-queries/medium.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/media-queries/large.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Coiny&family=Pacifico&family=Playwrite+NG+Modern:wght@100..400&display=swap" rel="stylesheet">
{% endblock %}

{% block site_content %}
<section class="hero-section">
    <h1 class="cloud-text cloud-title">Welcome to Lighthouse-Tutors!</h1>
</section>


<section class="why-us-block">
    <div class="why-us-text">
      <h2 id="why-us-title">
        Why choose us?
      </h2>
      <p id="why-us-p">
        Our tutors have extensive online tutoring experience, having worked with students worldwide across various subjects. From beginners to advanced learners, we provide tailored lessons in English, Chinese, and Intro to Coding with Python. With over 10 years of experience, we use the latest methods and teaching approaches to help students achieve their goals. Whether you're learning a new language or mastering coding, our students succeed with us.
      </p>      
    </div>
    <figure>
      <img src="{% static 'img/why-us.png' %}" alt="Why-us-img" id="why-us-image" loading="lazy">
    </figure>
</section>

<section class="what-we-offer-block">
  <h3 id="what-we-offer-proverb">
    "To learn a language is to have one more window from which to look at the world."
    -Chinese Proverb</h3>
  <h2 id="h2-title-2">
    What we offer:
  </h2>

  <div class="product-block-coding">
    <div class="product-info-esl">
      <h1 class="product-title">
        Introduction to Programming with Python.
      </h1>
      <p class="product-description">
        Start your programming journey with our Introduction to Programming with Python course. Dive into 
        interactive lessons that simplify coding concepts, offering hands-on exercises and real-world examples.
        Learn the basics of Python, build problem-solving skills, and gain the confidence to create your own 
        projects. Whether you're exploring programming for fun or for future opportunities, this course will
        guide you every step of the way. Join us and discover how exciting programming can be!
      </p>
      <button class="button-why" onclick="redirectToKids()">Find out more</button>
      </div>
    <img src="{% static 'img/coding.png' %}" alt="Reading Image" id="product-img-coding" loading="lazy">
  </div>

  <div class="product-block-esl">
    <img src="{% static 'img/business-prod.png' %}" alt="Reading Image" id="product-img-esl" loading="lazy">
    <div class="product-info-esl">
      <h1 class="product-title">
        English as a Second Language.
      </h1>
      <p class="product-description esl">
        Improve your English skills with our course designed for learners ready to take their communication to the next level. Enjoy interactive lessons filled with engaging activities, practical conversations, and cultural tips. Build confidence in speaking and navigate different situations with ease. Join us to make learning English a fun and rewarding experience!
      </p>

      <button class="button-why" onclick="redirectToGrownups()">Find out more</button>

    </div>
  </div>

  <div class="product-block-chinese">
    <div class="product-info-chinese">
      <h1 class="product-title">
        Newbie Chinese courses.
      </h1>
      <p class="product-description chinese">
        Embark on a captivating linguistic adventure with our Chinese course! Tailored for learners of all levels, our program seamlessly combines interactive lessons, cultural exploration, and practical language skills. Immerse yourself in Mandarin excellence and unlock the door to a world of communication and understanding. Join us on your journey to fluency!
      </p>
      <button class="button-why" onclick="redirectToChinese()">Find out more</button>   
    </div>
    <img src="{% static 'img/hanyu.png' %}" alt="Reading Image" id="product-img-chinese" loading="lazy">
  </div>

</section>

<section class="waves-keys">
    {% include 'includes/waves.html' %}
</section>

<section id="timeline-block">
    <h2 class="h2-title-4">5 Steps to become our student.</h2>
    <ul class="timeline">
        <li class="timeline-li">
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="hexa"></span>
              <span class="flag">Make an inquiry</span>
              <span class="time-wrapper"><span class="time">Step 1</span></span>
            </div>
          </div>
        </li>
      
        <li class="timeline-li">
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="hexa"></span>
              <span class="flag">Arrange a trial class.</span>
              <span class="time-wrapper"><span class="time">Step 2</span></span>
            </div>
          </div>
        </li>
      
        <li class="timeline-li">
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="hexa"></span>
              <span class="flag">Take the trial class.</span>
              <span class="time-wrapper"><span class="time">Step 3</span></span>
            </div>
          </div>
        </li>

        <li class="timeline-li">
            <div class="direction-l">
              <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">We arrange a course for you.</span>
                <span class="time-wrapper"><span class="time">Step 4</span></span>
              </div>
            </div>
          </li>

        <li class="timeline-li">
            <div class="direction-r">
                <div class="flag-wrapper">
                <span class="hexa"></span>
                <span class="flag">You become a lighthouse student.</span>
                <span class="time-wrapper"><span class="time">Step 5</span></span>
                </div>
            </div>
        </li>
      </ul>
</section>

<section id="placement-tests">
  <h3 class="h2-title-5">See where you stand with our placement tests.</h2>
  
  <div class="card">
    <figure>
      <img src="{% static 'img/coding_quiz.png' %}" alt="Coding quiz image" class="card-image" loading="lazy">
    </figure>
    <div class="card-content">
        <h2 class="card-title">Coding Quiz</h2>
        <p class="card-text">This placement quiz is for beginner computer science and coding learners.</p>
        <button class="button-why" onclick="redirectToQuizCoding()">Learn More</button>
    </div>
  </div>

  <div class="card">
    <figure>
      <img src="{% static 'img/placeA.png' %}" alt="ESL quiz image" class="card-image" loading="lazy">
    </figure>
      <div class="card-content">
          <h2 class="card-title">ESL Quiz</h2>
          <p class="card-text">This placement test is recomended for intermediate speakers of English language.</p>
          <button class="button-why" onclick="redirectToQuizEsl()">Learn More</button>
      </div>
  </div>

  <div class="card">
    <figure>
      <img src="{% static 'img/chinese_quiz.png' %}" alt="Chinese quiz image" class="card-image" loading="lazy">
    </figure>
    <div class="card-content">
        <h2 class="card-title">Chinese Quiz</h2>
        <p class="card-text">This placement quiz is for beginner to intermediate-level learners of Chinese.</p>
        <button class="button-why" onclick="redirectToQuizChinese()">Learn More</button>
    </div>
</div>

</section> 

<section id="inquiry-block">
    <img src="{% static 'img/inquiry2.png' %}" alt="Inquiry Background" loading="lazy" class="background-img">
    <div class="container">
        <div class="row">
            <h2 class="inquiry-h1">Make an Inquiry</h2>
        </div>
        <div class="row">
            <h4 class="inquiry-h4" style="text-align:center">We'd love to hear from you!</h4>
        </div>
        <form class="row input-container" method="post" action="{% url 'inquiry_form' %}">
            {% csrf_token %}
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <input class="inquiry-input" 
                      type="text"
                      name="name" 
                      value="{{ form.data.name }}" 
                      required 
                      />
                    <label class="inquiry-label" >Your name</label> 
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <input class="inquiry-input" 
                      type="text" 
                      value="{{ form.data.email }}"
                      name="email" 
                      required 
                      />
                    <label class="inquiry-label">Your email</label> 
                </div>
            </div>

            <div class="col-xs-12">
                <div class="styled-input wide">
                    <textarea 
                      class="inquiry-textarea"
                      name="message" 
                      required>{{ form.data.message }}
                    </textarea>
                    <label class="inquiry-label">Message</label>
                </div>
            </div>
            <div class="col-xs-12">
              <button type="submit" class="sub-btn"><img
                src="{% static 'img/envelope.svg' %}"
                alt="envelope-svg"
                id="envelope-svg"
              />Send Message</button>
          </div>
        </form>
    </div>
</section>

<script>
  function redirectToKids() {
      window.location.href = '/courses/#intro_python';
  }
  function redirectToGrownups() {
      window.location.href = '/courses/#esl';
  }
  function redirectToChinese() {
      window.location.href = '/courses/#chinese';
  }
  function redirectToQuizCoding() {
    window.location.href = '/quiz/3/'
  }
  function redirectToQuizEsl() {
    window.location.href = '/quiz/4/'
  }
  function redirectToQuizChinese() {
    window.location.href = '/quiz/6/'
  }
</script>

{% endblock %}
