{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/resume.css' %}">
{% endblock %}

{% block header %}
{% include 'includes/inc_header.html' %}
{% endblock %}


{% block site_content %}
<div class="container">
  <a href="{% url 'download_file' 'resume_nikita_kurpas.pdf' %}" class="btn btn-primary">Download as PDF</a>
  <div class="header">
    <div class="full-name">
      <span class="first-name">Nikita</span> 
      <span class="last-name">Kurpas</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">kurpasnikita@gmail.com</span>
    </div>
    <div class="about">
      <span class="position">Junior Full-Stack Developer</span>
      <span class="desc">
        I am a Junior Full Stack Developer with over 4 years of hands-on, semi-professional programming 
        experience, specializing in Python/Django, JavaScript, HTML/CSS, and Linux. With a strong educational 
        background, I have applied my skills in practical settings and am motivated to contribute to a 
        successful team-oriented company that offers opportunities for growth and development.
      </span>
    </div>
  </div>
  <div class="details">

    <div class="section">
      <div class="section__title">Experience</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">WeTalkLine Online English School</div>
            <div class="achievements">Taught English to students of all ages online, fostering motivation 
              and guiding them to achieve their language learning goals.
            </div>
          </div>
          <div class="right">
            <div class="name">On-line English Tutor</div>
            <div class="duration">June 2018 - present</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Skyeng</div>
            <div class="achievements">Taught English to professionals, assisting them in preparing for 
              job interviews and enhancing their overall English language skills.
            </div>
          </div>
          <div class="right">
            <div class="name">English Tutor/Teacher</div>
            <div class="duration">2012 - 2018</div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section__title">Education</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Fujian Normal University</div>
            <div class="addr">Fuzhou, Fujian, China</div>
            <div class="duration">Jan 2011 - Feb 2015</div>
          </div>
          <div class="right">
            <div class="name">Chinese Language Courses</div>
            <div class="desc">3 years of Intensive Mandarin Courses</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Geekbrains</div>
            <div class="addr">Online</div>
            <div class="duration">May 2020 - Jan 2023</div>
          </div>
          <div class="right">
            <div class="name">Python Developer</div>
            <div class="desc">Learned to build and deploy a Django Project, build scrapers.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section__title">Most Valuable Project</div> 
      <div class="section__list">
        <div class="section__list-item">
          <div class="name">Lighthouse Tutors</div>
          <div class="text">This is my biggest project to date, and I invested a lot of effort into it. 
            I initially started with a Django/React stack but later simplified it to use only Django. 
            The website features a Django authentication system, CRUD operations for a blog, quiz
             management, calendar management, and a mini chat room that allows users to send messages to 
             each other. Additionally, I polished my JavaScript skills by adding a crossword puzzle 
             generator and a chess game with a relatively intelligent AI opponent. The most interesting 
             aspect of the project was the deployment phase, where I fine-tuned NGINX, set up SSL, and
            implemented firewall and security features.
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section__title">Dev Skills</div>
      <div class="skills">
        <div class="skills__item skill_item">
          <div class="skill">
            <div class="name">Python</div>
            <div class="stars">
              <input id="ck1" type="checkbox" checked />
              <label for="ck1"></label>
              <input id="ck2" type="checkbox" checked />
              <label for="ck2"></label>
              <input id="ck3" type="checkbox" checked />
              <label for="ck3"></label>
              <input id="ck4" type="checkbox" checked />
              <label for="ck4"></label>
              <input id="ck5" type="checkbox" />
              <label for="ck5"></label>
            </div>
          </div>
          <p> I have a solid foundation in Python with experience in algorithms, data structures, 
            string manipulation, list comprehensions, and creating efficient solutions through modular, 
            readable code.
          </p>
        </div>
        <div class="skills__item skill_item">
          <div class="skill">
            <div class="name">Django</div>
            <div class="stars">
              <input id="ck6" type="checkbox" checked />
              <label for="ck6"></label>
              <input id="ck7" type="checkbox" checked />
              <label for="ck7"></label>
              <input id="ck8" type="checkbox" checked />
              <label for="ck8"></label>
              <input id="ck9" type="checkbox" checked />
              <label for="ck9"></label>
              <input id="ck10" type="checkbox" />
              <label for="ck10"></label>
            </div>
          </div>
          <p>I have strong experience with Django, building and deploying dynamic web applications with 
            user authentication, CRUD operations, and seamless data management, leveraging Django’s 
            robust framework to deliver efficient, secure, and production-ready solutions.
          </p>
        </div>
        <div class="skills__item skill_item">
          <div class="skill">
            <div class="name">JavaScript</div>
            <div class="stars">
              <input id="ck11" type="checkbox" checked />
              <label for="ck11"></label>
              <input id="ck12" type="checkbox" checked />
              <label for="ck12"></label>
              <input id="ck13" type="checkbox" checked />
              <label for="ck13"></label>
              <input id="ck14" type="checkbox" />
              <label for="ck14"></label>
              <input id="ck15" type="checkbox" />
              <label for="ck15"></label>
            </div>
          </div>
          <p>I have a foundational understanding of JavaScript, using it to create dynamic, responsive user
            interfaces and enhance user interactions with the DOM, and I'm comfortable with ES6+ features 
            and JavaScript's modular approach.</p>
        </div>
        <div class="skills__item skill_item">
          <div class="skill">
            <div class="name">CSS</div>
            <div class="stars">
              <input id="ck16" type="checkbox" checked />
              <label for="ck16"></label>
              <input id="ck17" type="checkbox" checked />
              <label for="ck17"></label>
              <input id="ck18" type="checkbox" checked />
              <label for="ck18"></label>
              <input id="ck19" type="checkbox" />
              <label for="ck19"></label>
              <input id="ck20" type="checkbox" />
              <label for="ck20"></label>
            </div>
          </div>
          <p>I have a solid foundation in CSS, with experience in styling web applications and creating 
            responsive designs. My skills include using Flexbox and Grid for layouts, ensuring cross-browser
            compatibility, and optimizing styles for a better user experience.</p>
        </div>
        <div class="skills__item skill_item">
          <div class="skill">
            <div class="name">HTML</div>
            <div class="stars">
              <input id="ck21" type="checkbox" checked />
              <label for="ck21"></label>
              <input id="ck22" type="checkbox" checked />
              <label for="ck22"></label>
              <input id="ck23" type="checkbox" checked />
              <label for="ck23"></label>
              <input id="ck24" type="checkbox" checked />
              <label for="ck24"></label>
              <input id="ck25" type="checkbox" />
              <label for="ck25"></label>
            </div>
          </div>
          <p>I have strong proficiency in HTML, with experience in crafting clean, well-structured markup for 
            dynamic and responsive web pages.</p>
        </div>
        <div class="skills__item skill_item">
          <div class="skill">
            <div class="name">SQL</div>
            <div class="stars">
              <input id="ck26" type="checkbox" checked />
              <label for="ck26"></label>
              <input id="ck27" type="checkbox" checked />
              <label for="ck27"></label>
              <input id="ck28" type="checkbox" checked />
              <label for="ck28"></label>
              <input id="ck29" type="checkbox" checked />
              <label for="ck29"></label>
              <input id="ck30" type="checkbox" />
              <label for="ck30"></label>
            </div>
          </div>
          <p>I have a solid understanding of SQL, with experience in writing queries to retrieve, filter, and 
             manipulate data, as well as designing and managing relational databases.</p>
        </div>
        <div class="skills__item skill_item">
          <div class="skill">
            <div class="name">Linux</div>
            <div class="stars">
              <input id="ck31" type="checkbox" checked />
              <label for="ck31"></label>
              <input id="ck32" type="checkbox" checked />
              <label for="ck32"></label>
              <input id="ck33" type="checkbox" checked />
              <label for="ck33"></label>
              <input id="ck34" type="checkbox" checked />
              <label for="ck34"></label>
              <input id="ck35" type="checkbox" />
              <label for="ck35"></label>
            </div>
          </div>
          <p>
            I am proficient in Linux, skilled in navigating the command line, managing file systems, and 
            handling basic system administration. I can write shell scripts to automate tasks, configure 
            environments, and optimize performance. My experience includes package management, process
            monitoring, and network setup, enabling me to maintain a stable, efficient development environment.
          </p>
        </div>
      </div>
    </div>
    
    <div class="section">
      <div class="section__title">Langauges</div>
      <div class="section__list">
        <div class="section__list-item">
          Fluent: Russian, English <br>
          Proficient: Mandarin Chinese
        </div>
      </div>
    </div>

    <div class="section">
      <div class="section__title">Interests</div>
      <div class="section__list">
        <div class="section__list-item">
          Healthy lifestyle, self-improvement, sports.
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% include 'includes/inc_footer.html' %}
{% endblock %}
