{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/resume.css' %}">
{% endblock %}

{% block header %}
{% include 'includes/inc_header.html' %}
{% endblock %}


{% block site_content %}
<div class="container">
  <a href="{% url 'download_file' 'my_resume.pdf' %}" class="btn btn-primary">Download as PDF</a>
    <div class="header">
      <div class="full-name">
        <span class="first-name">Nikita</span> 
        <span class="last-name">Kurpas</span>
      </div>
      <div class="contact-info">
        <span class="email">Email: </span>
        <span class="email-val">kurpasnikita@gmail.com</span>
      </div>
      
      <div class="about">
        <span class="position">Full-Stack Developer </span>
        <span class="desc">
          I am a full-stack developer with more than 3 years of experience writing HTML, CSS, Python code, using Django framework. I'm motivated, result-focused and seeking a successful team-oriented company with opportunity to grow. 
        </span>
      </div>
    </div>
     <div class="details">
      <div class="section">
        <div class="section__title">Experience</div>
        <div class="section__list">
          <div class="section__list-item">
            <div class="left">
              <div class="name">WeTalkLine Online English School</div>
              <div class="achievements">Taught English to kids and grown ups online, motivated students, helped them achieve their goals.</div>
            </div>
            <div class="right">
              <div class="name">On-line English tutor</div>
              <div class="duration">June 2018 - present</div>
            </div>
          </div>
          <div class="section__list-item">
            <div class="left">
              <div class="name">Skyeng</div>
              <div class="achievements">Taught English to professionals and helped them prepare for job interviews in English and improve their general English skills.</div>
            </div>
            <div class="right">
              <div class="name">English Tutor/Teacher</div>
              <div class="duration">2012 - 2018</div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="section">
        <div class="section__title">Education</div>
        <div class="section__list">
          <div class="section__list-item">
            <div class="left">
              <div class="name">Fujian Normal University</div>
              <div class="addr">Fuzhou, Fujian, China</div>
              <div class="duration">Jan 2011 - Feb 2015</div>
            </div>
            <div class="right">
              <div class="name">Chinese Language Courses</div>
              <div class="desc">3 years of Intese Manadarin Courses</div>
            </div>
          </div>
          <div class="section__list-item">
            <div class="left">
              <div class="name">Geekbrains.ru</div>
              <div class="addr">On-line</div>
              <div class="duration">May 2020 - Jan 2023</div>
            </div>
            <div class="right">
              <div class="name">Python Developer</div>
              <div class="desc">Learned to build and deploy a Django Project, build scrappers</div>
            </div>
          </div>
  
        </div>
        
    </div>
       <div class="section">
        <div class="section__title">Projects</div> 
         <div class="section__list">
           <div class="section__list-item">
             <div class="name">Lighthouse Tutors</div>
             <div class="text">This is the biggest project of mine and I did a lot of work on it. I started 
              Django / React but later simplified it to just Django. The website has a Django authentication 
              system, CRUD operations for blog, quiz, calendar management and a mini chat room where users can 
              send message to each other. 
             </div>
           </div>
           
           <div class="section__list-item">
                      <div class="name">Gentoo Flights</div>
             <div class="text">Visit www.gentoo-flights.com to check out the porject. It's basically a website that
              makes API calls and finds cheap flights. It's built on top of Kiwi API. <a href="http://www.gentoo-flights.com">gentoo-flights.com</a>
             </div>
           </div>
         </div>
      </div>
       <div class="section">
         <div class="section__title">Skills</div>
         <div class="skills">

          <div class="skills__item">
            <div class="left"><div class="name">
              Python 
              </div></div>
            <div class="right">
                           <input  id="ck1" type="checkbox" checked/>
 
              <label for="ck1"></label>
                           <input id="ck2" type="checkbox" checked/>
 
               <label for="ck2"></label>
                          <input id="ck3" type="checkbox" checked/>
 
               <label for="ck3"></label>
                            <input id="ck4" type="checkbox" checked/>
             <label for="ck4"></label>
                           <input id="ck5" type="checkbox" />
               <label for="ck5"></label>
 
            </div>
          </div>


          <div class="skills__item">
            <div class="left"><div class="name">
              Django 
              </div></div>
            <div class="right">
                           <input  id="ck1" type="checkbox" checked/>
 
              <label for="ck1"></label>
                           <input id="ck2" type="checkbox" checked/>
 
               <label for="ck2"></label>
                          <input id="ck3" type="checkbox" checked/>
 
               <label for="ck3"></label>
                            <input id="ck4" type="checkbox" checked/>
             <label for="ck4"></label>
                           <input id="ck5" type="checkbox" />
               <label for="ck5"></label>
 
            </div>
          </div>

          <div class="skills__item">
            <div class="left"><div class="name">
              React JS 
              </div></div>
            <div class="right">
                           <input  id="ck1" type="checkbox" checked/>
 
              <label for="ck1"></label>
                           <input id="ck2" type="checkbox" checked/>
 
               <label for="ck2"></label>
                          <input id="ck3" type="checkbox" checked/>
 
               <label for="ck3"></label>
                            <input id="ck4" type="checkbox"/>
             <label for="ck4"></label>
                           <input id="ck5" type="checkbox" />
               <label for="ck5"></label>
 
            </div>
          </div>

           <div class="skills__item">
             <div class="left"><div class="name">
               Javascript
               </div></div>
             <div class="right">
                            <input  id="ck1" type="checkbox" checked/>
  
               <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
  
                <label for="ck2"></label>
                           <input id="ck3" type="checkbox" />
  
                <label for="ck3"></label>
                             <input id="ck4" type="checkbox" />
              <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                <label for="ck5"></label>
  
             </div>
           </div>
           
         </div>
         <div class="skills__item">
             <div class="left"><div class="name">
               CSS</div></div>
             <div class="right">
                            <input  id="ck1" type="checkbox" checked/>
  
               <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
  
                <label for="ck2"></label>
                           <input id="ck3" type="checkbox" checked/>
  
                <label for="ck3"></label>
                             <input id="ck4" type="checkbox" />
              <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                <label for="ck5"></label>
  
             </div>
           </div>
          
           <div class="skills__item">
            <div class="left"><div class="name">
              HTML</div></div>
            <div class="right">
                           <input  id="ck1" type="checkbox" checked/>
 
              <label for="ck1"></label>
                           <input id="ck2" type="checkbox" checked/>
 
               <label for="ck2"></label>
                          <input id="ck3" type="checkbox" checked/>
 
               <label for="ck3"></label>
                            <input id="ck4" type="checkbox" />
             <label for="ck4"></label>
                           <input id="ck5" type="checkbox" />
               <label for="ck5"></label>
 
            </div>
          </div>

           <div class="skills__item">
            <div class="left"><div class="name">
              SQL</div></div>
            <div class="right">
                           <input  id="ck1" type="checkbox" checked/>
 
              <label for="ck1"></label>
                           <input id="ck2" type="checkbox" checked/>
 
               <label for="ck2"></label>
                          <input id="ck3" type="checkbox" />
 
               <label for="ck3"></label>
                            <input id="ck4" type="checkbox" />
             <label for="ck4"></label>
                           <input id="ck5" type="checkbox" />
               <label for="ck5"></label>
 
            </div>
          </div>

          <div class="skills__item">
            <div class="left"><div class="name">
              Linux</div></div>
            <div class="right">
                           <input  id="ck1" type="checkbox" checked/>
 
              <label for="ck1"></label>
                           <input id="ck2" type="checkbox" checked/>
 
               <label for="ck2"></label>
                          <input id="ck3" type="checkbox" checked/>
 
               <label for="ck3"></label>
                            <input id="ck4" type="checkbox" checked/>
             <label for="ck4"></label>
                           <input id="ck5" type="checkbox" />
               <label for="ck5"></label>
 
            </div>
          </div>

         </div>
       <div class="section">
       <div class="section__title">
         Interests
         </div>
         <div class="section__list">
           <div class="section__list-item">
                    Football, programming, foreign languages.
            </div>
         </div>
       </div>
       </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% include 'includes/inc_footer.html' %}
{% endblock %}
