{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="keywords" content="Python Java Script Linux CSS HTML coding programming">
    {% block script %}

    {% endblock %}
{% endblock %}

{% block title %}Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/projects.css' %}">
{% endblock %}


{% block site_content %}
<div class="projects-list-box">
    <div class="project_item">
        <h5>So as I was working on JS crossword puzzle generator for this very website <br>
            I needed to think of an approach as to how actually implement the very core <br>
            of the generator. So I decided to create a "chain" of words that would be arranged <br>
            on after another (sorting algorithm) if they have a letter in common. For a start <br>
            one letter will do. Then see if there's more comon letters. But that's later. <br>
            So the "chain" would be created before the placement of words on the grid.
        </h5>
            <pre>
                <code>
                    do {
                      swapped = false;
                      iterationCount++;

                      // Force break if iteration count exceeds maxIterations
                      if (iterationCount > maxIterations) {
                        console.log('Max iterations reached, forced break.');
                        break;
                      }

                      for (let i = 0; i < arr.length - 1; i++) {
                        if (!haveCommonLetter(arr[i], arr[i + 1])) {
                          [arr[i], arr[i + 1]] = [arr[i + 1], arr[i]]; // Swap the words
                          swapped = true;
                          console.log(arr);
                        }
                      }
                    } while (swapped);
                </code>
            </pre>
    </div>
</div>
{% endblock %}