# Python-specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

# Django-specific ignores
*.log
settings.py

# Environment variables
.env
media/
/media/
# Virtual environment
eduenv/
.gitignore 
# VS Code
.vscode/

# PyCharm
.idea/

