asgiref
admin-interface
admin-honeypot
attrs
Automat
Babel
bcrypt
blinker
certifi
chardet
click
colorama
ConfigArgParse
constantly
cryptography
django==5.0
django-auto-logout==0.5.1
dj-user-login-history
django-tinymce
gevent
greenlet
httplib2
hyperlink
idna
importlib-metadata
incremental
jeepney
Jinja2
josepy
jsonpatch
jsonpointer
jsonschema
keyring
MarkupSafe
more-itertools
oauthlib
parsedatetime
pexpect
#psycopg2==2.9.2
ptyprocess
pyasn1
pyasn1-modules
#PyGObject==3.42.1
python-dotenv==1.0.1
PyHamcrest
PyICU
PyJWT
pyOpenSSL
pyparsing
pyRFC3339
pyrsistent
pytz
#PyYAML==5.4.1
requests
SecretStorage
six
sqlparse
ssh-import-id
Twisted
typing_extensions
urllib3
zipp
zope.component
zope.event
zope.hookable
#zope.interface==5.4.0
