{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="keywords" content="Python Java Script Linux CSS HTML coding programming">
    {% block script %}

    {% endblock %}
{% endblock %}

{% block title %}Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/projects.css' %}">
{% endblock %}


{% block site_content %}
<div class="projects-list-box">
    <div class="project_item">
        <img src="{% static 'img/ip_to_bin_class.png' %}" alt="52a-img" class="ip-to-bin-image">
        <h5>This custom class verifies that if a user entered a host address rather than a
            network address, converts <br>the host address to a network address and prints the
            network address and the mask. </h5>
        <pre><code>
        from masks import subnet_masks

        MARKER = '-----------------------------------'


        class IpNetHostMask:
            def __init__(self, net_addr, masks=subnet_masks):
                self.net_addr = net_addr.split("/")
                self.masks = masks
                self.network = self.net_addr[0].split(".")
                self.ip_mask = int(self.net_addr[1])

            def process(self):
                net_bin = self.net_addr_to_bin()
                network_result = self.validator()
                mask_result = f"{self.ip_mask}\n{subnet_masks[self.ip_mask][0]}\n{subnet_masks[self.ip_mask][1]}"
                return f"{network_result}\n{net_bin} \n{MARKER}\n{mask_result}\n{MARKER}\n"

            def net_addr_to_bin(self):
                result = ""
                for byte in self.network:
                    byte_elem = bin(int(byte))[2:]
                    padding_length = (8 - len(byte_elem) % 8) % 8
                    binary_representation = f"{'0' * padding_length + byte_elem} "
                    result += binary_representation
                return result

            def validator(self):
                network_to_bin_no_whitespaces_final = ""
                bin_net = self.net_addr_to_bin().replace(" ", "")
                print(MARKER, bin_net, MARKER)
                for ind, bi in enumerate(bin_net):
                    if bi == " ":
                        pass
                    elif ind <= self.ip_mask:
                        network_to_bin_no_whitespaces_final += bi
                    else:
                        network_to_bin_no_whitespaces_final += '0'

                octets = [network_to_bin_no_whitespaces_final[i:i + 8] for i in range(0, 32, 8)]
                decimal_octets = [str(int(octet, 2)) for octet in octets]
                decimal_ip = '.'.join(decimal_octets)

                return f"{decimal_ip}"

            def __str__(self):
                return f"{self.process()}"

        </code></pre>
        <h5 class="code-explanation">Explanation: <br> &nbsp;&nbsp; Here I first import all the common used
            subnet masks (32 in total) with their corresponding ip ranges/values. The main method<br>
            of this class is the process(). That's where network address is converted to binary,
            and the validator() method is called, which <br> checks that the address is indeed a host and
            not a network address, and otherwise makes adjustments as described in the exercise's <br> task.
            A dunder __str__ method is added for nice string representation.
        </h5>
    </div>
</div>
{% endblock %}