{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta name="keywords" content="Python Java Script Linux CSS HTML coding programming">
    {% block script %}

    {% endblock %}
{% endblock %}

{% block title %}Projects{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/projects.css' %}">
{% endblock %}

{% block site_content %}
<h1>
  Crossword Generator Puzzle
</h1>
<p>

</p>
<a>
    <a href="{% url 'games:crossword' %}">Crossword</a>
</a>
<br>
{% endblock %}